.nhadautu{
  &__section1{
    &__fillter{
      &__btn{
        min-width: 187px;
        $x:52px;
        line-height: calc(#{$x} - 2px);
        background: #FFFFFF;
        /* Ink/200 */
        text-transform: inherit;
        border: 1px solid #DBE0E6;
        box-sizing: border-box;
        border-radius: 8px;
        $y:13px;
        padding-left: #{$y};
        text-align: left;
        .uk-icon{
          right: 6px;
          //background-image: url("data:image/svg+xml,%3Csvg width='13' height='8' viewBox='0 0 13 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.7926 1.29308L6.49959 5.58608L2.20659 1.29308C2.11435 1.19757 2.004 1.12139 1.882 1.06898C1.75999 1.01657 1.62877 0.988985 1.49599 0.987831C1.36321 0.986677 1.23154 1.01198 1.10864 1.06226C0.985743 1.11254 0.874091 1.18679 0.780198 1.28069C0.686305 1.37458 0.612052 1.48623 0.561771 1.60913C0.51149 1.73202 0.486189 1.8637 0.487342 1.99648C0.488496 2.12926 0.516082 2.26048 0.568491 2.38249C0.6209 2.50449 0.697083 2.61483 0.792593 2.70708L5.79259 7.70708C5.98012 7.89455 6.23443 7.99987 6.49959 7.99987C6.76476 7.99987 7.01906 7.89455 7.20659 7.70708L12.2066 2.70708C12.3021 2.61483 12.3783 2.50449 12.4307 2.38249C12.4831 2.26048 12.5107 2.12926 12.5118 1.99648C12.513 1.8637 12.4877 1.73202 12.4374 1.60913C12.3871 1.48623 12.3129 1.37458 12.219 1.28069C12.1251 1.18679 12.0134 1.11254 11.8905 1.06226C11.7677 1.01198 11.636 0.986677 11.5032 0.987831C11.3704 0.988985 11.2392 1.01657 11.1172 1.06898C10.9952 1.12139 10.8848 1.19757 10.7926 1.29308Z' fill='%23596481'/%3E%3C/svg%3E%0A");
          //background-repeat: no-repeat;
          //background-position: center;
          svg{
            //opacity: 0;
          }
        }
        span{
          $z:9px;
          &:nth-child(1){
            color: #8592AB;
            @extend .fz-12;
            line-height: 1.33;
            position: absolute;
            top: #{$z};
            left: #{$y};
            //display: block;
          }
          &:nth-child(2){
            //display: block;
            color: #2E3A5B;
            @extend .fz-16;
            line-height: 1.25;
            position: relative;
            top: calc(#{$z} + 2px);
          }
        }
      }
    }
    &__table{
      background: #FFFFFF;
      /* Ink/200 */

      border: 1px solid #DBE0E6;
      box-sizing: border-box;
      border-radius: 8px;
      //overflow: hidden;
      thead{
        th{
          background: #3382BF;
          color: #ffffff;
          text-transform: inherit;
          @extend .fz-16;
          font-family: $font-Roboto-Medium;
        }
      }
      tbody{
        tr{
          td{
            //border: 1px solid #DBE0E6;
            color: #2E3A5B;
            @extend .fz-16;
          }
        }
      }
      &__link{
        white-space: nowrap;
        color: #2E3A5B;
        @extend .fz-16;
        padding-left: 30px;
        position: relative;
        &:before{
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          display: flex;
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          content: "";
          width: 24px;
          height: 24px;
        }
        &--view{
          &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.0844 4.35604L17.8657 0.137297C17.7778 0.0494061 17.6585 0 17.5342 0H4.8779C4.61906 0 4.40915 0.209906 4.40915 0.468749V19.1148L2.29111 21.0903C1.96847 21.3913 1.7864 21.8054 1.77858 22.2563C1.77051 22.7198 1.95304 23.1727 2.27939 23.499C2.5987 23.8184 3.03942 24 3.4926 24C3.5024 24 3.51225 23.9999 3.52204 23.9998C3.97312 23.9919 4.38726 23.8099 4.68815 23.4873L6.48355 21.5624H21.7529C22.0117 21.5624 22.2216 21.3525 22.2216 21.0937V4.68749C22.2216 4.56318 22.1723 4.44398 22.0844 4.35604ZM18.0029 1.6004L20.5945 4.19207H18.0029V1.6004ZM4.00256 22.8479C3.87665 22.9828 3.70026 23.059 3.50578 23.0624C3.29582 23.0659 3.08981 22.9836 2.94229 22.8361C2.79478 22.6886 2.71228 22.4832 2.71593 22.2726C2.71931 22.0782 2.79553 21.9018 2.93057 21.7758L7.99353 17.0535C8.21919 17.3147 8.46369 17.5592 8.72492 17.7849L4.00256 22.8479ZM7.22169 12.4631C7.22169 9.10292 9.9553 6.36932 13.3154 6.36932C16.6756 6.36932 19.4092 9.10292 19.4092 12.4631C19.4092 15.8232 16.6756 18.5568 13.3154 18.5568C9.9553 18.5568 7.22169 15.8232 7.22169 12.4631ZM7.358 20.6249L9.47783 18.3522C10.582 19.0742 11.9006 19.4943 13.3154 19.4943C17.1925 19.4943 20.3467 16.3401 20.3467 12.4631C20.3467 8.58603 17.1925 5.43182 13.3154 5.43182C9.43841 5.43182 6.28419 8.58603 6.28419 12.4631C6.28419 13.8779 6.70429 15.1965 7.42625 16.3007L5.34665 18.2403V0.937498H17.0654V4.66082C17.0654 4.91966 17.2753 5.12957 17.5341 5.12957H21.2841V20.6249H7.358Z' fill='%238592AB'/%3E%3Cpath d='M16.6267 15.7772C18.4571 13.9469 18.4571 10.9794 16.6267 9.14907C14.7964 7.31876 11.8289 7.31876 9.99863 9.14907C8.16833 10.9794 8.16833 13.9469 9.99863 15.7772C11.8289 17.6075 14.7964 17.6075 16.6267 15.7772Z' fill='%23FF61A3'/%3E%3C/svg%3E%0A");
          }
        }
        &--download{
          &:before{
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M24 6.21689C24 5.57752 23.6138 5.02664 23.0625 4.78523V3.95259C23.0625 3.17719 22.4317 2.54634 21.6562 2.54634H9.31641C9.01388 1.85512 8.40947 1.45312 7.6432 1.45312H1.56202C0.700688 1.45312 0 2.15381 0 3.01509V17.7036C0 18.5649 0.700734 19.2656 1.56202 19.2656H11.0056C11.6275 19.2423 11.6252 18.3501 11.0056 18.3281H1.56202C1.21767 18.3281 0.9375 18.048 0.9375 17.7037V3.01514C0.9375 2.6708 1.21767 2.39062 1.56202 2.39062H7.6432C8.21625 2.39062 8.44172 2.79445 8.52994 3.13327L9.07903 5.2418C9.1328 5.44828 9.31927 5.59237 9.53264 5.59237H22.4379C22.7823 5.59237 23.0624 5.87255 23.0624 6.21684V17.7036C23.0624 18.048 22.7822 18.3281 22.4379 18.3281H12.9709C12.3502 18.3499 12.3501 19.2435 12.9709 19.2656H22.4379C23.2993 19.2656 24 18.5649 24 17.7037V6.21689ZM9.59002 3.48384H21.6562C21.9147 3.48384 22.125 3.69412 22.125 3.95259V4.65488H9.89498L9.59002 3.48384Z' fill='%238592AB'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 22.5469L15.6475 13.6524H13.5996V10.9424H10.4004V13.6524H8.35254L12 22.5469Z' fill='%23FF61A3'/%3E%3C/svg%3E%0A");
          }
        }
      }
    }
  }
}