.footer{
  background: #333333;
  &__title1{
    color: #FFFFFF;
    @extend .fz-16;
    line-height: 1.5;
  }
  &__title2{
    @extend .fz-20;
    font-family: $font-Roboto-Medium;
    color: #ffffff;
  }
  &__title3{
    @extend .fz-16;
    line-height: 1.5;
    font-family: $font-Roboto-Medium;
    color: #ffffff;
  }
  &__nav{
    >li{
      >a{
        @extend .fz-16;
      }
    }
  }
  &__w1{
    @include media-breakpoint-up('m'){
      width: 350px;
    }
  }
  &__listAddress{
    &__li{
      color: #E3E3E3;
      @extend .fz-16;
      padding-left: 30px;
      background-repeat: no-repeat;
      background-position: top 0px left 0px;
      &:nth-child(n+2){
        @include media-breakpoint-up('m'){
          margin-top: 20px;
        }
      }
    }
    &__map{
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 1.5C8.36005 1.5 4.5 4.26121 4.5 9C4.5 10.2643 4.96315 11.715 5.69859 13.2088C6.43044 14.6954 7.41152 16.1842 8.40112 17.514C9.38955 18.8422 10.3792 20.002 11.1222 20.8302C11.4831 21.2325 11.7853 21.5558 12 21.7814C12.2147 21.5558 12.5169 21.2325 12.8778 20.8302C13.6208 20.002 14.6105 18.8422 15.5989 17.514C16.5885 16.1842 17.5696 14.6954 18.3014 13.2088C19.0369 11.715 19.5 10.2643 19.5 9C19.5 4.26121 15.64 1.5 12 1.5ZM12 22.5C11.6464 22.8536 11.6464 22.8535 11.6462 22.8533L11.6458 22.8529L11.6445 22.8516L11.6397 22.8468L11.6216 22.8285C11.6058 22.8125 11.5826 22.789 11.5526 22.7583C11.4926 22.697 11.4052 22.6068 11.2943 22.4905C11.0725 22.2578 10.7566 21.9201 10.3778 21.498C9.62084 20.6542 8.61045 19.4703 7.59888 18.111C6.58848 16.7533 5.56956 15.2108 4.80141 13.6505C4.03685 12.0975 3.5 10.4857 3.5 9C3.5 3.61379 7.90795 0.5 12 0.5C16.092 0.5 20.5 3.61379 20.5 9C20.5 10.4857 19.9631 12.0975 19.1986 13.6505C18.4304 15.2108 17.4115 16.7533 16.4011 18.111C15.3895 19.4703 14.3792 20.6542 13.6222 21.498C13.2434 21.9201 12.9275 22.2578 12.7057 22.4905C12.5948 22.6068 12.5074 22.697 12.4474 22.7583C12.4174 22.789 12.3942 22.8125 12.3784 22.8285L12.3603 22.8468L12.3555 22.8516L12.3542 22.8529L12.3538 22.8533C12.3536 22.8535 12.3536 22.8536 12 22.5ZM12 22.5L12.3536 22.8536C12.1583 23.0488 11.8417 23.0488 11.6464 22.8536L12 22.5Z' fill='white'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 7C10.8954 7 10 7.89543 10 9C10 10.1046 10.8954 11 12 11C13.1046 11 14 10.1046 14 9C14 7.89543 13.1046 7 12 7ZM9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9Z' fill='white'/%3E%3C/svg%3E%0A");
    }
    &__phone{
      font-family: $font-Roboto-Medium;
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.64762 13.9652C8.42973 16.0874 10.575 17.7584 13.0235 18.9407C13.9558 19.3809 15.2025 19.903 16.5915 19.9925C16.6776 19.9963 16.76 20 16.8461 20C17.7783 20 18.5271 19.6792 19.1374 19.0191C19.1411 19.0153 19.1486 19.0079 19.1524 19.0004C19.3695 18.7393 19.6166 18.5044 19.8749 18.2545C20.0509 18.0866 20.2306 17.9113 20.4028 17.7323C21.2003 16.9043 21.2003 15.8525 20.3954 15.0506L18.1452 12.809C17.7634 12.4136 17.3066 12.2047 16.8274 12.2047C16.3482 12.2047 15.8877 12.4136 15.4945 12.8052L14.1542 14.1405C14.0307 14.0696 13.9034 14.0062 13.7836 13.9465C13.6338 13.8719 13.4953 13.8011 13.3717 13.7228C12.1512 12.9507 11.043 11.9436 9.98347 10.6494C9.44808 9.97431 9.08867 9.40738 8.83782 8.82926C9.18975 8.51223 9.51922 8.18027 9.83745 7.85578C9.94977 7.74016 10.0658 7.62453 10.1819 7.50891C10.5862 7.10609 10.8034 6.63987 10.8034 6.16618C10.8034 5.6925 10.59 5.22627 10.1819 4.82346L9.0662 3.71198C8.93516 3.58143 8.81161 3.45462 8.68432 3.32408C8.43722 3.07045 8.17889 2.80937 7.9243 2.57439C7.53868 2.19768 7.08566 2 6.60644 2C6.13096 2 5.6742 2.19768 5.27359 2.57812L3.87336 3.97306C3.36419 4.48031 3.0759 5.09573 3.016 5.80812C2.94487 6.69954 3.1096 7.64691 3.53641 8.79196C4.1916 10.5636 5.18 12.2085 6.64762 13.9652ZM3.92952 5.88645C3.97445 5.39039 4.16539 4.97638 4.52481 4.61832L5.91755 3.23083C6.1347 3.02196 6.37431 2.9138 6.60644 2.9138C6.83482 2.9138 7.06694 3.02196 7.28034 3.23829C7.53119 3.46954 7.76706 3.71198 8.02164 3.96933C8.14894 4.09988 8.27997 4.23042 8.41101 4.36469L9.52671 5.47617C9.75883 5.70742 9.87864 5.9424 9.87864 6.17364C9.87864 6.40489 9.75883 6.63987 9.52671 6.87111C9.41064 6.98674 9.29458 7.10609 9.17852 7.22172C8.83033 7.57232 8.50461 7.90427 8.14519 8.2213C8.13771 8.22876 8.13396 8.23249 8.12647 8.23995C7.81573 8.54952 7.8644 8.84418 7.93928 9.06797C7.94302 9.07915 7.94676 9.08661 7.95051 9.0978C8.23879 9.78782 8.63939 10.4443 9.26463 11.2275C10.3878 12.6075 11.5709 13.678 12.8738 14.5023C13.0348 14.6067 13.207 14.6888 13.368 14.7708C13.5177 14.8454 13.6563 14.9163 13.7798 14.9946C13.7948 15.0021 13.806 15.0095 13.821 15.017C13.9445 15.0804 14.0644 15.1102 14.1842 15.1102C14.4837 15.1102 14.6784 14.92 14.742 14.8566L16.1422 13.4617C16.3594 13.2453 16.5953 13.1297 16.8274 13.1297C17.1119 13.1297 17.344 13.305 17.4901 13.4617L19.7477 15.707C20.1969 16.1546 20.1932 16.6395 19.7364 17.1131C19.5792 17.281 19.4144 17.4414 19.2385 17.6092C18.9764 17.8628 18.7031 18.1239 18.456 18.4186C18.0254 18.8811 17.5125 19.0974 16.8498 19.0974C16.7862 19.0974 16.7188 19.0937 16.6552 19.0899C15.4271 19.0116 14.2852 18.5342 13.4279 18.1276C11.0992 17.005 9.05497 15.4123 7.35897 13.3908C5.96248 11.7161 5.02275 10.1571 4.40126 8.48612C4.01563 7.46042 3.86962 6.63614 3.92952 5.88645Z' fill='white'/%3E%3C/svg%3E%0A");
    }
  }
}